.canvas {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

canvas {
  display: block;
  border: 2px solid lime;
  transition: 300ms all ease-in-out;
}

label {
  color: white;
  font-weight: bold;
}

